.contact-us{
  display: flex;
    height: 100%;
    border: 1px solid #fff;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px #fff;
    align-items: center;
}
html{
  overflow-y: scroll;
}
/*.logo{
left: 1.1%;
right: 95.53%;
top: 1.05%;
bottom: 94.44%;
height:47px;
width:46px;
background-image: url(register/images/png/logo.png);

}*/
.logo {
position: absolute;
left: 1.1%;
right: 95.53%;
top: 2.05%;
bottom: 94.44%;
height: 47px;
width: 46px;
background-image: url(images/png/logo.png);
}

.logo:hover,
.contact-us:hover,
.menu:hover {
cursor: pointer;
}

.logo {
position: fixed;
z-index: 9999;
}
  .img1{
    position: absolute;
    width: 1573px;
    height: 1030px;
    left: -7px;
    top: -15px;
  /*background-repeat: repeat;*/
  /*background-size: cover;*/
  z-index: -20;
  /*display: none;*/

}
/*.img2{
  position: absolute;
width: 100%;
height: 406px;
left: -8px;
top: 911px;
background-image: url(../images/png/Group11.png);
background-repeat:round;
padding-right:0;
margin-right: 0;
align-items: center;
}*/
.container{
  position: absolute;
width: 1218.24px;
height: 464px;
/*left: 186px;
top: 154px;*/
top:50%;
left:50%;
transform:translate(-50%,-50%);
background-color: #0C1011;
border: 10px solid #33ccff;
border-image: linear-gradient(to right, #80bfff, #33ccff,#0073e6,#80bfff, #33ccff);

border-image-slice: 1;
display:flex;
justify-content: center;


}



  .content{
    position: absolute;
  width: 389px;
  height: 167px;
  left: 131px;
  top: -10px;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 78px;
  line-height: 118px;
  background: linear-gradient(to right, #E38CF2,#407BF0);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;
  /*  display:none;*/
  }
  .wrapper{
  }
  .register,.register1,.register2{
    display:none;
  }

  .event1{
    position: absolute;
    width: 262px;
    height: 48px;
    left: 257px;
    border: 2px solid #FAF1F5;
    box-sizing: border-box;
    text-align:center;
    left: 171px;
    top: 150px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    background-color: #7513A8;
    /*display:none;*/
  }
  .event1:hover:after{
    font:red;
    margin-left: 350px;
    margin-top:-100px;
      color:cyan;
    float:left;
   content:attr(data-text);
    height:115px;
    width:600px;
    padding:8px;
    transition:0.5s;
    overflow: visible;
    text-align: justify;
    cursor:pointer;

  /*  display:none;*/

  }
  .event2{
    position: absolute;
    width: 262px;
    height: 48px;
    left: 257px;
    border: 2px solid #FAF1F5;
    box-sizing: border-box;
    text-align:center;
    left: 171px;
    top: 230px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    background-color: #7513A8;
    /*display:none;*/
  }

  .event2:hover:after{
    font:red;
    margin-left: 350px;
    margin-top:-120px;
      color:cyan;
    float:left;
   content:attr(data-text);
    height:115px;
    width:530px;
    padding:8px;
    transition:0.5s;
    overflow: visible;
    text-align: justify;
    cursor:pointer;

  /*  display:none;*/

  }


  .event3{
    position: absolute;
    width: 262px;
    height: 48px;
    left: 257px;
    border: 2px solid #FAF1F5;
    box-sizing: border-box;
    text-align:center;
    left: 171px;
    top: 310px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    background-color: #7513A8;
    /*display:none;*/
  }
.event3:hover:after{
  font:cyan;
  margin-left: 350px;
  margin-top:-200px;
    color:cyan;
  float:left;
 content:attr(data-text);
  height:115px;
  width:530px;
  padding:8px;
  transition:0.5s;
  overflow: visible;
  text-align: justify;
  cursor:pointer;




  /*display:none;*/

}
.event2:hover  .register2{
  display:block;
  position: absolute;
  width: 450px;
  height: 120px;
  border: 2px solid #FAF1F5;
  box-sizing: border-box;
  text-align:center;
  left: 421px;
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  background-color: #b3ffff;
  color:red;
  font-weight: bold;
}
 .event3:hover  .register{
  display:block;
  position: absolute;
  width: 450px;
  height: 120px;
  border: 2px solid #FAF1F5;
  box-sizing: border-box;
  text-align:center;
  left: 421px;
  margin-top: -40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  background-color: #b3ffff;
  color:red;
  font-weight: bold;
  /*display:none;*/
}
.event1:hover  .register1{
  display:block;
  position: absolute;
  width: 450px;
  height: 120px;
  border: 2px solid #FAF1F5;
  box-sizing: border-box;
  text-align:center;
  left: 421px;
  margin-top: 120px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  background-color: #b3ffff;
  color:red;
  font-weight: bold;

  /*display:none;*/
}




    #footer-margin{
      margin-top:900px;
    }


img { max-width: 100%; height: auto; }

@media only screen and (min-width:100px) and (max-width:400px)
{
  .contact-us{
    display: none;
  }
  .img1{
    background-image: url(register/images/png/register-mobile.png);
    background-size: contain;
    width:100%;
    height: 130%;
    display: block;
    background-repeat: round;

    }
    /*.img2{
      background-size: contain;
      width:100%;
      height:120%;
      background-repeat: no-repeat;
    }*/
    .content{
      display:block;
      font-size: 50px;
      line-height: 100px;
      margin-left:-100px;
      margin-top: -10px;

    }
    .wrapper,.eventcontent{
    /*  display:block;
      width:100%;*/
    }
    .register{
      position: absolute;
    /*  margin-top:270px;
      margin-left:-600px;
      left:1%;

      width: 300px;
      height: 80px;
      line-height: normal;
      font-size: 80%;*/
      display:none;
    }
    .event1{
      margin-top: -30px;
    /*  margin-left:-100px;*/
    transform:translateX(-60%);
      display:block;
      width: 200px;
      height: 40px;
      line-height: normal;
      transition:transform 1s;

    }

    .event1:hover:after{
      display: block;
      margin-left: -50px;
      margin-top:10px;
      width:280px;
      height:300px;
      line-height: 18px;
      text-align: justify;
      cursor:pointer;
      font-size: 70%;

    }
    .event1:hover .register1{
      display:block;
      position: absolute;
      width: 250px;
      height: 180px;
      left:-30px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      top: 110px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      font-size: 60%;

      /*display:none;*/
    }


    .event2{

      display:block;
      margin-top: 20px;
    /*  margin-left:-100px;*/
  /*  left:15%;*/
  transform:translateX(-60%);

      width: 200px;
      height: 40px;
      line-height: normal;

    }
    .event2:hover .register2{
      display:block;
      position: absolute;
      width: 250px;
      height: 180px;
      left:-30px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      top: 220px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      font-size: 60%;

      /*display:none;*/
    }

    .event2:hover:after{
      display: block;
      margin-left: -50px;
      margin-top:50px;
      width:280px;
      height:300px;
      line-height: 18px;
      text-align: justify;
      cursor:pointer;


    }
    .wrapper:hover .event2{
      top:520px;
    }
    .wrapper:hover .event3{
      top:560px;
    }

    .event3{
      display:block;
      margin-top:60px;
    /*  margin-left:-100px;*/
    transform:translateX(-60%);

      width: 200px;
      height: 40px;
      line-height: normal;


    }
    .wrapper1:hover .event2{
      top:230px;
    }
    .wrapper1:hover  .event3{
      top:630px;
    }
    .event3:hover:after{
      display: block;
      margin-left: -50px;
      margin-top:30px;
      width:280px;
      height:300px;
      line-height: 18px;
      text-align: justify;
      cursor:pointer;

    }
    .event3:hover .register{
      display:block;
      position: absolute;
      width: 250px;
      height: 160px;
      left:-30px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      top: 240px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      font-size: 55%;

      /*display:none;*/
    }
    .wrapper2:hover .event3{
      top:310px;
    }


    body
    {
      display:block;
      background-color:#0B083D;

    }
    .container{

     width:300px;
     height:770px;
     top:80%;
     left:50%;
     transform:translate(-50%,-50%);
     border:none;
     background-color: black;
     background-size: cover;


    }


}


@media only screen and (min-width:400px) and (max-width:600px)
{
  .contact-us{
    display:none;
  }
  .img1{
    background-image: url(register/images/png/register-mobile.png);
    display: block;
    background-size: contain;
    width:100%;
    height: 130%;

    }
    /*.img2{
      background-image: url(../images/png/contact-mobile.png);
      background-size: contain;
      width:100%;
      height:140%;
      background-repeat: no-repeat;
    }*/
    .content{
      display:block;
      font-size: 50px;
      line-height: 100px;
      margin-left:-60px;
      margin-top: -10px;

    }
    .wrapper,.eventcontent{
    /*  display:block;
      width:100%;*/
    }
    .register{
      position: absolute;
      display: none;

    }
    .event1{
      margin-top: -30px;
      /*margin-left:-100px;*/
      transform:translateX(-50%);

      display:block;
      width: 200px;
      height: 40px;
      line-height: normal;

    }

    .event1:hover:after{
      display: block;
      margin-left: -50px;
      margin-top:30px;
      width:300px;
      height:300px;
      line-height: 18px;
      text-align: justify;
      cursor:pointer;
      font-size: 80%;
    }

    .event1:hover .register1{
      display:block;
      position: absolute;
      width: 300px;
      height: 160px;
      left:-50px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      top: 180px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      font-size: 70%;

      /*display:none;*/
    }

    .event2{
      display:block;
      margin-top: 40px;
    /*  margin-left:-100px;*/
    transform:translateX(-50%);
      width: 200px;
      height: 40px;
      line-height: normal;


    }

    .event2:hover:after{
      display: block;
      margin-left: -50px;
      margin-top:10px;
      width:300px;
      height:300px;
      line-height: 18px;
      text-align: justify;
      cursor:pointer;


    }
    .event2:hover .register2{
      display:block;
      position: absolute;
      width: 300px;
      height: 160px;
      left:-50px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      top: 160px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      font-size: 70%;

      /*display:none;*/
    }
    .wrapper:hover .event2{
     top:560px;
   }
   .wrapper:hover .event3{
     top:570px;
   }
    .event3{
      display:block;
      margin-top:90px;
      /*margin-left:-100px;*/
      transform:translateX(-50%);
      width: 200px;
      height: 40px;
      line-height: normal;


    }
    .wrapper1:hover .event2{
      top:230px;
    }
    .wrapper1:hover  .event3{
      top:550px;
    }
    .event3:hover:after{
      display: block;
      margin-left: -50px;
      margin-top:10px;
      width:300px;
      height:300px;
      line-height: 18px;
      text-align: justify;
      cursor:pointer;

    }
    .event3:hover .register{
      display:block;
      position: absolute;
      width: 300px;
      height: 160px;
      margin-top: 150px;
      left:-50px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      font-size: 70%;

      /*display:none;*/
    }
    .wrapper2:hover .event3{
     top:310px;
   }


    body
    {
      display:block;
      height:200%;
      background-color:#0B083D;
    }
  /*  .container{

      display:block;
     margin-top:10px;
     margin-left: -24vh;
     width:390px;
     height:720px;
     border:none;
     background-color: black;
     background-size: cover;


    }*/
    .container{

     width:350px;
     height:720px;
     top:70%;
     left:50%;
     transform:translate(-50%,-50%);
     border:none;
     background-color: black;
     background-size: cover;


    }
    #footer-margin{
      margin-top:1000px;
    }


}
@media only screen and (min-width:601px) and (max-width:700px)
{
  .contact-us{
    display: none;
  }

  .img1{
    background-image: url(register/images/png/register-mobile.png);
    background-size: contain;
    width:100%;
    height: 200%;
    display: block;
    background-repeat: round;

    }
  /*  .img2{
      background-image: url(../images/png/contact-mobile.png);
      background-size: contain;
      width:100%;
      height:auto; /*1700
      background-repeat: no-repeat;
    }*/

    .content{
      display:block;
      font-size: 50px;
      line-height: 100px;
      margin-left:-60px;
      margin-top: -10px;

    }

    .register{
      position: absolute;
    display:none;


    }
    .event1{
      margin-top: -30px;
      margin-left:-100px;
      transform:translateX(15%);
      display:block;
      width: 200px;
      height: 40px;
      line-height: normal;

    }

    .event1:hover:after{
      display: block;
      margin-left: -70px;
      margin-top:20px;
      width:350px;
      height:300px;
      line-height: 20px;
      text-align: justify;
    }
    .event1:hover .register1{
      display:block;
      position: absolute;
      width: 300px;
      height: 160px;
      left:-40px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      top: 170px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      font-size: 70%;

      /*display:none;*/
    }


    .event2{
      display:block;
      margin-top: 40px;
      margin-left:-100px;
      transform:translateX(15%);

      width: 200px;
      height: 40px;
      line-height: normal;


    }
    .wrapper:hover .event2{
      top:540px;
    }
    .wrapper:hover .event3{
      top:550px;
    }

    .event2:hover:after{
      display: block;
      margin-left: -50px;
      margin-top:20px;
      width:250px;
      height:300px;
      line-height: 20px;
      text-align: justify;


    }
    .event2:hover .register2{
         display:block;
         position: absolute;
         width: 300px;
         height: 160px;
         left:-50px;
         border: 2px solid #FAF1F5;
         box-sizing: border-box;
         text-align:center;
         top: 200px;
         font-family: Poppins;
         font-style: normal;
         font-weight: normal;
         font-size: 24px;
         line-height: 36px;
         background-color: #b3ffff;
         color:red;
         font-weight: bold;
         font-size: 70%;

         /*display:none;*/
       }

    .event3{
      display:block;
      margin-top:110px;
      margin-left:-100px;
    transform:translateX(15%);

      width: 200px;
      height: 40px;
      line-height: normal;


    }
    .wrapper1:hover .event2{
     top:230px;
   }
   .wrapper1:hover  .event3{
     top:560px;
   }
    .event3:hover:after{
      display: block;
      margin-left: -50px;
      margin-top:10px;
      width:250px;
      height:300px;
      line-height: 20px;
      text-align: justify;

    }

    .event3:hover .register{
         display:block;
         position: absolute;
         width: 250px;
         height: 100px;
         left:-30px;
         border: 2px solid #FAF1F5;
         box-sizing: border-box;
         text-align:center;
         top: 230px;
         font-family: Poppins;
         font-style: normal;
         font-weight: normal;
         font-size: 24px;
         line-height: 36px;
         background-color: #b3ffff;
         color:red;
         font-weight: bold;
         font-size: 60%;

         /*display:none;*/
       }
       .wrapper2:hover .event3{
         top:310px;
       }


    /*.container{

     margin-top:10px;
     margin-left:-60px;
     width:390px;
     height:720px;
     border:none;
     background-color: black;
     background-size: cover;
     display:flex;
     justify-content: center;


    }*/
    body{
      background-color:#0B083D;
      height: auto;
    }
    .container{

     width:410px;
     height:720px;
     top:60%;
     left:50%;
     transform:translate(-50%,-50%);
     border:none;
     background-color: black;
     background-size: cover;


    }

    }


    @media only screen and (min-width:701px) and (max-width:900px)
    {
      html{
        overflow-y: scroll;
      }
      .contact-us{
        display: none;
      }
      .img1{
        position: absolute;
        background-image: url(register/images/png/register.png);
        background-size: contain;
        height:100%;
        width:100%;

        }
      /*  .img2{
          position: absolute;

          background-image: url(images/png/Group11.png);
          background-size: contain;
          width:100%;
          height:100%;
          top:650px;
          background-repeat: no-repeat;
        }*/
        .content{
          display:block;
          font-size: 50px;
          line-height: 100px;
          margin-left:-40px;
          margin-top: -10px;

        }
        .wrapper,.eventcontent{
        /*  display:block;
          width:100%;*/
        }
        .event1{
          margin-top: -30px;
          margin-left:-60px;
          display:block;
          width: 200px;
          height: 40px;
          line-height: normal;

        }

        .event1:hover:after{
          display: block;
          margin-left: -50px;
          margin-top:10px;
          width:300px;
          height:300px;
          line-height: 22px;
          text-align: justify;
        }

      .event1:hover .register1{
     display:block;
     position: absolute;
     width: 350px;
     height: 130px;
     left:-80px;
     border: 2px solid #FAF1F5;
     box-sizing: border-box;
     text-align:center;
     top: 230px;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 36px;
     background-color: #b3ffff;
     color:red;
     font-weight: bold;
     font-size: 80%;

     /*display:none;*/
   }

        .event2{
          display:block;
          margin-top: 40px;
          margin-left:-60px;
          width: 200px;
          height: 40px;
          line-height: normal;


        }
        .wrapper:hover .event2{
      top:600px;
    }
    .wrapper:hover .event3{
      top:600px;
    }
        .event2:hover:after{
          display: block;
          margin-left: -50px;
          margin-top:20px;
          width:270px;
          height:300px;
          line-height: 22px;
          text-align: justify;


        }
        .event2:hover .register2{
                 display:block;
                 position: absolute;
                 width: 350px;
                 height: 130px;
                 left:-80px;
                 border: 2px solid #FAF1F5;
                 box-sizing: border-box;
                 text-align:center;
                 top: 180px;
                 font-family: Poppins;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 24px;
                 line-height: 36px;
                 background-color: #b3ffff;
                 color:red;
                 font-weight: bold;
                 font-size: 80%;

                 /*display:none;*/
               }
        .event3{
          display:block;
          margin-top:110px;
          margin-left:-60px;
          width: 200px;
          height: 40px;
          line-height: normal;


        }
        .wrapper1:hover .event2{
     top:230px;
   }
   .wrapper1:hover  .event3{
     top:560px;
   }
        .event3:hover:after{
          display: block;
          margin-left: -50px;
          margin-top:20px;
          width:270px;
          height:300px;
          line-height: 22px;
          text-align: justify;

        }
        .event3:hover .register{
         display:block;
         position: absolute;
         width: 350px;
         height: 110px;
         left:-60px;
         border: 2px solid #FAF1F5;
         box-sizing: border-box;
         text-align:center;
         top: 230px;
         font-family: Poppins;
         font-style: normal;
         font-weight: normal;
         font-size: 24px;
         line-height: 36px;
         background-color: #b3ffff;
         color:red;
         font-weight: bold;
         font-size: 75%;

         /*display:none;*/
       }
       .wrapper2:hover .event3{
         top:310px;
       }



      /*  .container{

         display:flex;
         margin-top:10px;
         margin-left:-50px;
         width:700px;
         height:450px;
         border:none;
         background-color: black;
         background-size: cover;

        }*/
        #footer-margin
        {
          margin-top:1050px;
        }
        body{
          display: block;
          background-color:#19194d;
          overflow-y: scroll;

        }
        .container{

         width:460px;
         height:810px;
         top:60%;
         left:50%;
         transform:translate(-50%,-50%);
         border:none;
         background-color: black;
         background-size: cover;


        }





    }


@media only screen and (min-width:900px) and (max-width:1200px)
{
  /*.img1{
    position: absolute;
    background-image: url(images/png/register-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;

    }*/
  /*  .img2{
      position: absolute;

      background-image: url(../images/png/Group11.png);
      background-size: contain;
      width:100%;
      height:100%;
      top:700px;
      background-repeat: no-repeat;
    }*/
    html{
      overflow-y: scroll;
    }
    .content{
      display:block;
      font-size: 50px;
      line-height: 100px;
      margin-left:-70px;
      margin-top: -10px;

    }
    .wrapper,.eventcontent{
      display:block;
      width:100%;
    }
    .event1{
      margin-top: -30px;
      margin-left:-70px;
      display:block;
      width: 180px;
      height: 40px;
      line-height: normal;

    }

    .event1:hover:after{
      display: block;
      margin-left: 200px;
      margin-top:-40px;
      width:480px;
      height:300px;
      line-height: 24px;

    }

    .event2{
      display:block;
      margin-top: 30px;
      margin-left:-70px;
      width: 180px;
      height: 40px;
      line-height: normal;


    }
    .event2:hover:after{
      display: block;
      margin-left: 200px;
      margin-top:-40px;
      width:480px;
      height:300px;
      line-height: 24px;


    }

    .event3{
      display:block;
      margin-top:90px;
      margin-left:-70px;
      width: 180px;
      height: 40px;
      line-height: normal;


    }
    .event3:hover:after{
      display: block;
      margin-left: 200px;
      margin-top:-80px;
      width:480px;
      height:300px;
      line-height: 24px;


    }
    .register{

      position: absolute;
      display:none;
    }
    .event2:hover  .register2{
      display:block;
      position: absolute;
      width: 450px;
      height: 120px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      left: 221px;
      top: 80px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
    }
     .event3:hover  .register{
      display:block;
      position: absolute;
      width: 450px;
      height: 120px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      left: 221px;
      top: 110px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      /*display:none;*/
    }
    .event1:hover  .register1{
      display:block;
      position: absolute;
      width: 450px;
      height: 120px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      left: 221px;
      top: 120px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;

      /*display:none;*/
    }

    body
    {
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      overflow-y: scroll;
      height: 200%;
      background-color: #0B083D

    }
  /*  .container{

     display:block;
     margin-top:10px;
     margin-left:-60px;
     width:820px;
     height:520px;
     border:none;
     background-color: black;
     background-size: cover;

    }*/
    .container{
     width:840px;
     height:620px;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     background-color: black;
     background-size: cover;
     overflow: scroll;
     border: none;


    }



}
@media only screen and (min-width:1200px) and (max-width:1300px)
{
  .img1{
    /*position: absolute;
    background-image: url(images/png/register-mobile.png);
    background-size: contain;
    width:750px;
    background-repeat: no-repeat;*/

    }
  /*  .img2{
      position: absolute;

      background-image: url(../images/png/Group11.png);
      background-size: contain;
      width:100%;
      height:100%;
      top:700px;
      background-repeat: no-repeat;
    }*/
    .content{
      display:block;
      font-size: 50px;
      line-height: 100px;
      margin-left:-70px;
      margin-top: -10px;

    }
    .wrapper,.eventcontent{
      display:block;
      width:100%;
    }
    .event1{
      margin-top: -30px;
      margin-left:-70px;
      display:block;
      width: 200px;
      height: 40px;
      line-height: normal;

    }

    .event1:hover:after{
      display: block;
      margin-left: 200px;
      margin-top:-40px;
      width:480px;
      height:300px;
      line-height: 24px;

    }

    .event2{
      display:block;
      margin-top: 10px;
      margin-left:-70px;
      width: 200px;
      height: 40px;
      line-height: normal;


    }
    .event2:hover:after{
      display: block;
      margin-left: 200px;
      margin-top:-40px;
      width:480px;
      height:300px;
      line-height: 24px;


    }

    .event3{
      display:block;
      margin-top:50px;
      margin-left:-70px;
      width: 200px;
      height: 40px;
      line-height: normal;


    }
    .event3:hover:after{
      display: block;
      margin-left: 200px;
      margin-top:-40px;
      width:480px;
      height:300px;
      line-height: 24px;


    }
    .register{
      position: absolute;
      display:none;
    }
    .event2:hover  .register2{
      display:block;
      position: absolute;
      width: 450px;
      height: 120px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      left: 221px;
      margin-top: 80px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
    }
     .event3:hover  .register{
      display:block;
      position: absolute;
      width: 450px;
      height: 120px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      left: 221px;
      margin-top: 80px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;
      /*display:none;*/
    }
    .event1:hover  .register1{
      display:block;
      position: absolute;
      width: 450px;
      height: 120px;
      border: 2px solid #FAF1F5;
      box-sizing: border-box;
      text-align:center;
      left: 221px;
      margin-top: 180px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      background-color: #b3ffff;
      color:red;
      font-weight: bold;

      /*display:none;*/
    }

    body
    {
      background-image: url(../images/png/register-mobile.png);
      background-repeat: no-repeat;
      background-size: contain;
      height: 300%;
      overflow: scroll;
      background-color: #0B083D
    }
  /*  .container{

     display:block;
     margin-top:10px;
     margin-left:-60px;
     width:820px;
     height:520px;
     border:none;
     background-color: black;
     background-size: cover;

    }*/
    .container{

     width:850px;
     height:720px;
     top:65%;
     left:50%;
     transform:translate(-50%,-50%);
     background-color: black;
     background-size: cover;
     border: none;


    }






}
