.full-height{
    height: 100vh;
}

.container{
    max-width: 1100px;
}

.m-1{
    margin: 10px;
}

.m-2{
    margin: 20px;
}

.m-3{
    margin: 30px;
}

.m-4{
    margin: 40px;
}

.m-5{
    margin: 50px;
}


.p-1{
    padding: 10px;
}

.p-2{
    padding: 20px;
}

.p-3{
    padding: 30px;
}

.p-4{
    padding: 40px;
}

.p-5{
    padding: 50px;
}


.my-1{
    margin: 10px 0px;
}

.my-2{
    margin: 20px 0px;
}

.my-3{
    margin: 30px 0px;
}

.my-4{
    margin: 40px 0px;
}

.my-5{
    margin: 50px 0px;
}


.py-1{
    padding: 10px 0px;
}

.py-2{
    padding: 20px 0px;
}

.py-3{
    padding: 30px 0px;
}

.py-4{
    padding: 40px 0px;
}

.py-5{
    padding: 50px 0px;
}


.mx-1{
    margin: 10px 0px;
}

.mx-2{
    margin: 20px 0px;
}

.mx-3{
    margin: 30px 0px;
}

.mx-4{
    margin: 40px 0px;
}

.mx-5{
    margin: 50px 0px;
}


.px-1{
    padding: 10px 0px;
}

.px-2{
    padding: 20px 0px;
}

.px-3{
    padding: 30px 0px;
}

.px-4{
    padding: 40px 0px;
}

.px-5{
    padding: 50px 0px;
}



.bg-black{
    background-color: black;
}
